# In this example, documentation and Header.txt are part # of the default 
match. Default owners if nothing else 
matches.
*     @yunho0130
# Code related should be validated by Rama.
# JavaScripts files could have been separated
# into tests versus logic by using folder's structure
permission_test.txt    @iris9190
# Package.json should be reviewed by everyone
package.json    @yunho0130 @iris9190
